
.bg-gradient{
    background-image: url('./assets/Bg1.jpg');
    background-position:center;
    background-repeat: no-repeat;
    object-fit:cover;
    background-size:cover;
    height:100vh;
    width:100vw;
  
}

.bg-gradient1{  /*for signup*/
    background-image: url('./assets/bg2.webp');
    background-position:center;
    background-repeat: no-repeat;
    object-fit:cover;
    background-size:cover;
    height:100vh;
    width:100vw;
 
}
.bg-gradient2{  /*for Forgot Password*/
    background-image: url('./assets/Bg4.jpg');
    background-position:center;
    background-repeat: no-repeat;
    object-fit:cover;
    background-size:cover;
    height:100vh;
    width:100vw;
 
}
.bg-gradient3{  /*for Reset password*/
    background-image: url('./assets/Bg5.jpg');
    background-position:center;
    background-repeat: no-repeat;
    object-fit:cover;
    background-size:cover;
    height:100vh;
    width:100vw;
 
}

/* Glassmorphism card effect */
.card-gradient{
    backdrop-filter: blur(1px) saturate(200%);
    -webkit-backdrop-filter: blur(1px) saturate(200%);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}